

<!-- =============== BEGIN #page ==============================-->
<div id="page"> 
    <!-- =========== PAGE HEADER ON ALL BUT INDEX PAGES =========================================================================== --> 
    <!-- _________ Page Header ___________ -->
    <div class="page-header-primary">
        <div class="container">
            <h2>Blog Single</h2>
            <ol class="breadcrumb page-header-breadcrumb hidden-xs">
                <li><a href="index.html" class="link-underline">Home</a></li>
                <li> <a class="link-underline" href="blog-summary-masonry-layout.html"> Blog</a> </li>
                <li class="active">Blog Single</li>
            </ol>
        </div>
        <!-- /.container (for page-header-primary) --> 
    </div>
    <!-- /.page-header-primary --> 
    <!-- =========== BEGIN CONTENT FOR THE PAGE =========================================================================== -->
    <div class="page-content" role="main">     
        <!--slide to sidebar toggle --> 
        <a class="visible-xs slide-sidebar has-anchor" href="#sidebar"><i class="ti ti-menu"></i> <em>Sidebar</em></a>
        <div class="container blog">
            <div class="row"> 
                <!-- ____ PRIMARY COLUMN GOES HERE ____ -->
                <div class="col-sm-8 col-md-9 primary-column" role="main">
                    <div class="entry-full-post"> 
                        <!-- _____________ BEGIN 'entry-post' _________ -->
                        <article class="entry-post clearfix">
                            <header class="entry-header">
                                <div class "entry-title">
                                    <%= @post.title %>
                                </div>    
                                    <br>
                                <ul class="entry-meta list-inline">
                                    <li>
                                        <span class="ti ti-pencil-alt">
                                        </span>
                                        by Anthony Llewellyn</li>
                                    <li><a href="blog-single.html#view-comments" class="has-anchor">
                                        <span class="ti ti-comments">
                                        </span>
                                        6 Comments</a></li>
                                    <li>
                                        <span class="ti ti-calendar">
                                        </span>
                                        <%= time_ago_in_words(@post.created_at) %> ago</li>
                                </ul>
                                <ul class="entry-tags hidden-xs">
                                    <% @post.tags.any? %>
                                        <% @post.tags.each do |tag| %>
                                            <li><a href="#"> 
                                                <%= link_to tag.name, tag_path(tag.name) %>
                                            </a></li>  
                                    <% end %>
                                    
                                    <li><a href="#">css3</a></li>
                                    <li><a href="#">theme</a></li>
                                </ul>
                                <div class="entry-fancy-date">
                                    <div>
                                        <span class="day">
                                            <%= @post.created_at.strftime('%e') %>
                                        </span>
                                        <span class="month">
                                            <%= @post.created_at.strftime('%b') %>
                                        </span>
                                        <span class="year">
                                            <%= @post.created_at.strftime('%Y') %>
                                    </div>
                                </div>
                                <div class="addthis_toolbox">
                                    <div class="addthis_inner"> 
                                        <!-- for sticking --> 
                                        <a class="addthis_button_facebook"> <i class="fa fa-fw fa-facebook"></i> </a> <a class="addthis_button_twitter"> <i class="fa fa-fw fa-twitter"></i> </a> <a class="addthis_button_email"> <i class="fa fa-fw fa-envelope"></i> </a> <a class="addthis_button_compact"> <i class="fa fa-fw fa-plus"></i> </a> </div>
                                </div>
                            </header>
                            <!--/ entry-header --> 
                            <!-- begin article content -->

                            <br>

                            <p>
                                <%= markdown @post.body %>
                            </p>
                            <% if user_signed_in? %>
                                <div class="text-info">
                                    <%= link_to "Edit Article", edit_post_path(@post), class: "btn btn-primary" %>
                                    <%= link_to "Delete Article", post_path(@post), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
                                </div>
                            <% end %>
                        </article>
                        <!-- _____________ END 'entry-post'_________ --> 
                    </div>
                    
                        </div>
                        <!-- End Comment Form --> 
                    </section>
                    <!--close comment section--> 
                </div>
           </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!-- /.page-content role=main --> 
    <!--=========== END CONTENT FOR THE PAGE ============================================================ --> 
</div>
<!-- ================== END #page ================= -->  
<!-- _________ FOOTER SCRIPTS  ________ --> 
