

<!-- =============== BEGIN #page ==============================-->
<!-- <div id="page">  -->
    <!-- =========== PAGE HEADER ON ALL BUT INDEX PAGES =========================================================================== --> 
    <!-- _________ Page Header ___________ -->
    <div class="page-header-primary">
        <div class="container">
            <h2>Blog Summary Masonry</h2>
            <ol class="breadcrumb page-header-breadcrumb hidden-xs">
                <li><a href="index.html" class="link-underline">Home</a></li>
                <li> <a class="link-underline" href="breadcrumb-about.html">Blog</a></li>
                <li class="active">Blog Summary Masonry</li>
            </ol>
        </div>
        <!-- /.container (for page-header-primary) --> 
    </div>
    <!-- /.page-header-primary --> 
    <!-- =========== BEGIN CONTENT FOR THE PAGE =========================================================================== -->
    <div class="page-content" role="main">

        <div class="container">
            <div class="filter">
                <span class="filter-title">
                    Choose Filter
                </span>
                <ul class="sort">
                    <li><a class="active" href="#" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".india">India</a></li>
                    <li><a href="#" data-filter=".quotes">Quotes</a></li>
                    <li><a href="#" data-filter=".design">Design</a></li>
                    <li><a href="#" data-filter=".sound">Sound</a></li>
                    <li><a href="#" data-filter=".video">Video</a></li>
                </ul>
            </div>
            <div class="filter-clone"><!-- this is where the clone of the filter goes--></div>
            
            <!-- _________ MASONRY WITH ISOTOPE ___________ -->
            
            <ul class="row row-masonry filter-masonry">
                <li class="grid-sizer"></li>
                <!-- required for fluid masonry layout -->
                <li class="gutter-sizer"></li>
                <!-- required for fluid masonry layout --> 
                
                <!-- NEW STUFF -->
                <% @posts.each do |post| %>
                    <li class="post msnry-blog-entry #">
                        <% if post.image.exists? %>
                            <div class="click-slide click-top"> 
                                <%= link_to image_tag post.image.url(:medium) %>
                                <div>
                                    <%= link_to '<span class = "text-center ti ti-link"></span>'.html_safe, post %>
                                </div>
                            </div>
                        <% end %>
                        <div class="msnry-blog-entry-text">
                            <h4 class"h5"><a href="#"><%= link_to post.title, post %></a></h4>
                            <p><%= truncate(post.body, :length => 150) %></p>
                            <ul class="msnry-blog-entry-meta list-inline">
                                <li>
                                    <span class="ti ti-pencil-alt">
                                    </span>
                                    by Anthony Llewellyn
                                </li>
                                    <li>
                                    <span class="ti ti-calendar">
                                    </span>
                                    <%= post.created_at.strftime('%A, %B %d') %>
                                </li>
                                 <li class="entry-tags hidden-xs">
                                    <% post.tags.any? %>
                                        <% post.tags.each do |tag| %>
                                            <li><a href="#"> 
                                                <%= link_to tag.name, tag_path(tag.name) %>
                                            </a></li>  
                                    <% end %>
                                </li>
                            </ul>
                        </div>        
                    </li>
                <% end %>
                
                <!-- TEXT POST -->
                <li class="post msnry-blog-entry design">
                    <div class="msnry-blog-entry-text">
                        <h4 class="h5"><a href="blog-single.html">We frequently maximize turn-key infrastructures</a></h4>
                        <p>Classic is the industry leader of frictionless e-services. Is it more important for something to be cutting-edge or to be customer-defined...</p>
                        <ul class="msnry-blog-entry-meta list-inline">
                            <li>
                                <span class="ti ti-pencil-alt">
                                </span>
                                by Nameof Author</li>
                            <li><a href="blog-single.html#view-comments">
                                <span class="ti ti-comments">
                                </span>
                                5</a></li>
                            <li>
                                <span class="ti ti-calendar">
                                </span>
                                December 14, 2015</li>
                        </ul>
                    </div>
                </li>
                <!-- IMAGE POST with image pop up -->
                <li class="post msnry-blog-entry india">
                    <div class="click-slide click-top"> <%= link_to image_tag("demo-images/simple/12.jpg") %>
                        <div>
                            <span>
                                <a href="blog-single.html" class="ti ti-link"></a> <a class="pop-image ti ti-layers" href="assets/demo-images/simple/12.jpg"></a>
                            </span>
                        </div>
                    </div>
                    <div class="msnry-blog-entry-text">
                        <h4 class="h5"><a href="blog-single.html">Collaboratively administrate empowered markets via plug-and-play networks</a></h4>
                        <p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service....</p>
                        <ul class="msnry-blog-entry-meta list-inline">
                            <li>
                                <span class="ti ti-pencil-alt">
                                </span>
                                by Nameof Author</li>
                            <li><a href="blog-single.html#view-comments">
                                <span class="ti ti-comments">
                                </span>
                                5</a></li>
                            <li>
                                <span class="ti ti-calendar">
                                </span>
                                December 14, 2015</li>
                        </ul>
                    </div>
                </li>

            </ul>
            <!--/ .row-masonry -->
            
            <div class="text-center">
                <span class="new-pagination-toggle">
                    Pagination
                </span>
                <!-- <ul class="new-pagination pagination pagination-lg clearfix"> -->
                    <%= page_entries_info @posts %>
                    <br>
                    <%= will_paginate @posts, renderer: BootstrapPagination::Rails, :class => 'new-pagination pagination pagination-lg clearfix', :previous_label => '<<', :next_label => '>>' %>
                    
                <!-- </ul> -->
            </div>
            <!-- /.text-center holding .pagination which shows at 992px and higher and is toggled otherwise --> 
            
        </div>

        <!--/ .container--> 
    </div>
    <!-- /.page-content role=main --> 
    <!--=========== END CONTENT FOR THE PAGE ============================================================ --> 
<!-- </div> -->
<!-- ================== END #page ================= --> 


