<p id="notice"><%= notice %></p>

<h1>Listing Pletools</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pletools.each do |pletool| %>
      <tr>
        <td><%= pletool.title %></td>
        <td><%= pletool.link %></td>
        <td><%= pletool.description %></td>
        <td><%= link_to 'Show', pletool %></td>
        <td><%= link_to 'Edit', edit_pletool_path(pletool) %></td>
        <td><%= link_to 'Destroy', pletool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pletool', new_pletool_path %>
